html, body
  min-height 100%
  background #fff
  
body
  background $white(1)
  font $font

img
  max-width 100%

a
  color inherit

a.link
  cursor pointer

.content-body
  margin: 0 10px

::selection
  background #FEEEA7
  color #fff

@keyframes slideFromTop
  0%
    opacity 0
    transform translateY(-100%)
  90%
    transform translateY(1%)
  100%
    opacity 1
    transform translateY(0%)

nav
  animation slideFromTop 200ms $ease-in-out-quad

nav > li
  display block
  list-style none
  //text-transform: uppercase
  text-align center
  @media(min-width:768px)
    text-align right

nav > li.divider
  height auto
  width 100%
  background rgba(0 0 0 .1)

nav > li.divider span
  font-size 1.2rem
  text-align: right
  line-height 30px
  width 100%
  padding 0 20px
  display block
  color rgba(255 255 255 .5)

nav > li.divider span.empty
  height 5px

nav > li > a
  display block
  padding 0 20px
  font-size 1.1rem
  letter-spacing 1px
  color #fff
  transition background 200ms @ease-in-out-quad
  line-height 30px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

nav > li > a:hover
  background rgba(0 0 0 .1)

section#bookmarks
  .bookmark
    list-style-type none
    box-shadow 0 1px 0 rgba(64, 82, 175, .333)
    padding .6rem 0 .6rem 1.2rem
  a:active, a.visited .url, li:first-child .url
    color rgba(64, 82, 175, .333)
  @keyframes fadeIn
    0%
      opacity 0
    100%
      opacity 1
  a.no-frames-allowed:after
    animation fadeIn 200ms @ease-in-out-quad
    font-size .8rem
    opacity 1
    content "This website doesn't allow us to open in a frame, click to open in a new window."
    color RGBA(254, 188, 78, 1)
  span
    display block
    color #4052AF
  .title
    line-height 1.2
    color rgba(0 0 0 .9)
    font-weight 600
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  .url
    transition color 200ms @ease-in-out-quad
    color rgba(64, 82, 175, 1)
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

#mainSearch
  position relative
  width 100%
  height 60px
input#search
  width 25%
  position fixed
  z-index 100
  background RGBA(64, 82, 175, 1)
  &::-webkit-input-placeholder
    color rgba(255, 255, 255, .5)


.openWebsite
  position absolute
  right 0
  bottom 0
.btn
  margin 0
