<!DOCTYPE html>
<html ng-app="BookmarksManagerApp" lang="en" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bookmark Manager</title>
    <link rel="stylesheet" href="app/dist/app.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="app app-body">
      <div class="column column-sidebar">
        <div id="mainSearch">
          <input id="search" type="search" ng-model="search" placeholder="Type here to filter">
        </div>
        <section id="bookmarks">
          <li ng-repeat="bookmark in bookmarks | filter:search" class="bookmark"><a ng-click="showView(bookmark.url)" class="link"><span class="title">{{bookmark.title}}</span><span class="url">{{bookmark.url}}</span></a></li>
        </section>
      </div>
      <div class="column column-main">
        <div class="app-wrapper">
          <div class="app-wrapper-inner">
            <div ng-if="viewUrl">
              <iframe ng-src="{{trustSrc(viewUrl)}}" style="width:100%;height:100vh;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="app/scripts/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="app/scripts/vendor/ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/scripts/vendor/lodash/lodash.js"></script>
    <script type="text/javascript" src="app/scripts/app.js"> </script>
  </body>
</html>