doctype html
html(ng-app="BookmarksManagerApp" lang="en" ng-csp)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no")
    title Bookmark Manager
    link(rel="stylesheet", href="app/dist/app.css")
  body(ng-controller="MainCtrl")
    .app.app-body
      .column.column-sidebar
        #mainSearch
          input#search(type="search", ng-model="search", placeholder="Type here to filter")
        section#bookmarks
          li.bookmark(ng-repeat="bookmark in bookmarks | filter:search")
            a.link(check-url ng-model="bookmark.url" visited ng-src="#")
              span.title(ng-bind="bookmark.title")
              span.url(ng-bind="bookmark.url")
      .column.column-main
        div(ng-if="viewUrl")
          .openWebsite
            a.btn.btn-success(ng-href="{{trustSrc(viewUrl)}}", target="_blank") Open in a new tab
        .app-wrapper
          .app-wrapper-inner
            div(ng-if="viewUrl")
              iframe(ng-src="{{trustSrc(viewUrl)}}" style="width:100%;height:100vh;")

    script(type="text/javascript", src="app/scripts/vendor/angular/angular.js")
    script(type="text/javascript", src="app/scripts/vendor/lodash/lodash.js")
    script(type="text/javascript", src="app/dist/app.js") 
