section#bookmarks
  li.bookmark(data-ng-repeat="bookmark in bookmarks | filter:search")
    span.title {{bookmark.title}}
    span.url {{bookmark.url}}
    //iframe(ng-src="{{trustSrc(bookmark.url)}}" width="640" height="480")
